.sidebar-left {
	min-height: 100vh;
	display: grid;
	border-right: 1px solid var(--text-color-gray);
	padding: var(--space-2xl);
	grid-template-rows: auto auto 1fr auto;
	gap: var(--space-xl);
	color: var(--text-color-gray);
}

.sidebar-left__user {
	display: flex;
	align-items: center;
	gap: var(--space-md);
}

.sidebar-left__user-name {
	font-weight: var(--font-weight-semibold);
	color: var(--text-color-light);
}

.user-status-border {
	width: var(--space-2xl);
	padding: 2px;
	border: 2px solid var(--primary-color);
	border-radius: var(--radius-full);
}

.user-img-container {
	width: 100%;
	border-radius: var(--radius-full);
	aspect-ratio: 1/1;
	overflow: hidden;
}

.user-img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
}

.search {
	display: flex;
	align-items: center;
	width: 100%;
	padding: var(--space-em-sm);
	border-radius: var(--radius-full);
	background-color: var(--background-color-secondary);
}

.search__input {
	outline: none;
	width: 85%;
	background-color: transparent;
	color: var(--text-color-gray);
	border: none;
}

.search__icon {
	width: 15%;
	cursor: pointer;
}

.sidebar-left__nav-sections {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--space-xl);
}

.sidebar-left__section {
	width: 100%;
}

.sidebar-left__section-title {
	font-weight: var(--font-weight-semibold);
	margin-bottom: var(--space-md);
	padding-inline: var(--space-md);
}

.sidebar-left__nav-item {
	padding: var(--space-md) var(--space-xl);
	border-radius: var(--radius-md);
	display: flex;
	align-items: center;
	gap: var(--space-sm);
	cursor: pointer;
	transition: 0.1s ease-out;
}

.sidebar-left__nav-item:hover {
	background-color: var(--primary-color);
	color: var(--background-color-primary);
}

.sidebar-left__logo {
	display: flex;
	justify-content: center;
	transform: translateX(-0.75rem);
}
