.metrics-card {
	background-color: var(--background-color-secondary);
	border-radius: var(--radius-md);
	display: grid;
	grid-template-rows: auto 1fr;
	gap: var(--space-em-md);
	padding: var(--space-em-md);
}

.metrics-card__header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--space-em-md);
}

.metrics-card__title {
	font-size: var(--font-size-base);
	place-self: start;
}

.metrics-card__duration {
	place-self: start end;
}

.metrics-card__body {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--space-em-md);
}

.metrics-card__value {
	color: var(--primary-color);
	place-self: center start;
	font-size: var(--font-size-2xl);
	font-weight: var(--font-weight-semibold);
}

.metrics-card__chart {
	min-height: 7.5em;
	max-height: 12.5em;
}
