.metrics-card {
	background-color: var(--background-color-secondary);
	border-radius: var(--radius-xl);
	padding: var(--space-lg);
	display: grid;
	grid-template-rows: auto 1fr;
}

.metrics-card__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.metrics-card__title {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-semibold);
}

.metrics-card__body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: var(--space-md);
}

.metrics-card__value {
	place-self: center start;
	font-size: var(--font-size-2xl);
	color: var(--primary-color);
}

.metrics-card__chart {
	aspect-ratio: 3/1;
}
