.chart-header {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--space-em-md);
}

.chart-header__chart-title {
	font-size: var(--font-weight-base);
	color: var(--text-color-light);
}

.chart-header__chart-labels {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-em-md);
	justify-content: end;
}
