.chart-header {
	display: flex;
	justify-content: space-between;
	align-items: start;
	color: var(--text-color-light);
}

.chart-header__chart-title {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-semibold);
}

.chart-header__chart-colors {
	display: flex;
	gap: var(--space-2xl);
	justify-content: flex-end;
}
